<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="background-color: black;">

    <h1 style="color: white;"> Pagina About</h1>

    <button id="boton">enviar</button>
    
<script>
    let button = document.getElementById("boton")

    const body= {
        name:"Andres Agudelo"
    }
    var init={
        method:"POST",
        Headers:{'Content-Type':"aplication/json"},
        body:JSON.stringify(body)
    }

    button.addEventListener("click",()=>{
    
        fetch("http://localhost:3000/saludar",init).then((res)=>{

            return res.json()

          


        }).then((res)=>{

            console.log(res)
        })

    })
</script>
</body>
</html>